player-connection-mode=Listen
player-connection-guid=795303608
player-connection-debug=0
player-connection-project-name=Projet1_H2023_Samuel_Cloutier
player-connection-ip=192.168.0.71
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
